<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-left"><img ng-src="./img/grand-register-logo.png"></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/create-register">
            <span>Добави регистър</span>
          </a>
        </li>
        <li>
          <a href="/list-registers">
            <span>Списък с регистри</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span>Иван Иванов</span>
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Излез</span>
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div id="main-content" ui-view></div>
</div>
